body {
  background-color: #141414;
  color: white;
}
main {
  padding-inline: 2rem;
}
.profile-box {
  max-width: 31rem;
}

.form-check-input {
  width: 21px;
  height: 21px;
  border-color: gray;
  border-radius: 0px;
  background-color: #141414;
}

.form-check-input:checked {
  background-color: #141414;
  border-color: gray;
  border-radius: 0px;
}
.edit-pen {
  font-size: 8px;
  background-color: black;
  padding-inline: 3px;
  border-radius: 50%;
  border: 1px solid white;
}
